.thevilla-s4 {
    background-color: var(--palette-7);
    text-align: center;
    --bs-gutter-x: 0 !important;

    .navigation {
        margin-top: 1rem;
        --bs-gutter-x: 0 !important;

        .title {
            font-size: var(--h1-font-size);
        }

        .btns {

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: flex-end;

            .btn-img {
                width: 3rem;
                height: auto;
            }

            .nav-button {
                margin: 0.5rem 1rem;
                background-color: transparent;
                border: 0px;
                color: var(--palette-5);
            }

            .nav-text {
                margin-bottom: 0 !important;
                text-wrap-mode: nowrap;
            }

            .nav-button.active,
            .nav-button:hover {
                color: var(--palette-5);
            }
        }


    }

    .nav-line {
        flex: 1;
        border: none;
        background-color: var(--palette-5);
        margin-bottom: 1rem;
        width: 0.4rem;
        height: 0.1rem;
    }

    .content-section {
        padding: 3rem 5rem;
        background-color: var(--palette-1);

        .content-title-container {
            align-content: center;
            padding: 4rem;

            h1 {
                font-size: var(--h0-font-size);
            }
        }

        .img-title {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;

            img {
                display: block;
                width: calc(100% - 5%);
                height: calc(100% - 15%);
                object-fit: cover;
                position: relative;
                margin-top: 2%;
                z-index: 2;
                aspect-ratio: 6 / 3.5;
            }
        }

        .img-title:before {
            content: "";
            position: absolute;
            z-index: 1;
            background-color: var(--palette-4);
            top: 0;
            right: 0;
            width: calc(100% - 5%);
            height: 15%;
        }

        .img-title:after {
            content: "";
            position: absolute;
            z-index: 1;
            background-color: var(--palette-4);
            bottom: 15%;
            right: 0;
            width: 95%;
            height: calc(100% - 25%);
        }

        .info-section {
            .imgs-container {
                max-height: 80vh;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 20px 20px;
                grid-auto-flow: row;
                grid-template-areas:
                    "img-2-container img-2-container img-3-container"
                    "img-2-container img-2-container img-4-container"
                    "img-5-container img-6-container img-7-container";
            }

            .img-2-container {
                grid-area: img-2-container;
            }

            .img-3-container {
                grid-area: img-3-container;
            }

            .img-4-container {
                grid-area: img-4-container;
            }

            .img-5-container {
                grid-area: img-5-container;
            }

            .img-6-container {
                grid-area: img-6-container;
            }

            .img-7-container {
                grid-area: img-7-container;
            }

            .img-container {
                overflow: hidden;
            }

            .img-container>img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }

            .content {
                text-align: justify;

                .amenities {
                    text-align: left;

                    .line-with-diamond {
                        margin: 2rem 0rem;
                        padding: 0rem 1rem;
                    }

                    .installation-divider {
                        display: flex;
                        align-items: center;
                        padding-top: 1rem;

                        .title {
                            font-size: var(--h1-font-size);
                            padding: 0rem 2rem 0rem 0rem;
                        }
                    }
                }
            }

        }
    }

    /* Medium screens */
    @media (max-width: 1024px) {
        .navigation {
            text-align: center;
            text-wrap-mode: nowrap;
        }

        .navigation,
        .content-section {
            padding: 2rem 4rem;

            /* Adjust padding for medium screens */
            .content {
                padding-top: 2rem;
                padding-left: calc(var(--bs-gutter-x)* 0.5);
            }
        }
    }

    /* Small screens */
    @media (max-width: 768px) {
        .navigation {
            text-align: center;
            text-wrap-mode: nowrap;
        }

        .navigation,
        .content-section {
            padding: 1.5rem 3rem;
            /* Adjust padding for small screens */
        }
    }

    /* Extra small screens */
    @media (max-width: 480px) {
        .navigation {
            text-align: center;
            text-wrap-mode: nowrap;
        }

        .navigation,
        .content-section {
            padding: 1rem 2rem;
            /* Adjust padding for extra small screens */
        }
    }



}