.thevilla-s0 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #FEFEF6;

    .img-container {
        width: 100%;
        height: 65%;
        background-size: cover;
        background-position: center;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        top: 0;
        z-index: 1;
        box-shadow: 0 4px 20px 5px rgba(0.1, 0.1, 0, 0.1);
        background-image: url('../../assets/images/thevilla/section0.jpeg');
    }

    .title-container {
        width: 80%;
        max-width: 50%;
        position: absolute;
        bottom: -65px;
        background: rgba(72, 64, 57, 0.88);
        padding: 1.5rem;
        border-radius: 0.2rem 8rem;
        border: 0.1rem solid white;
        box-shadow: 0 0 0 15px rgba(72, 64, 57, 0.88);
        text-align: center;
        z-index: 2;

        .title {
            font-size: var(--h0-font-size);
            text-align: center;
        }
    }

    .subcontent {
        width: 65%;
        text-align: center;
        margin: 1rem auto;
        padding-top: 6rem;
        /* Ensure it does not overlap */
        z-index: 2;
        border-radius: 2rem;

        .divider-image {
            margin: 0 2rem;
            width: 7rem;
            height: auto;
        }
    }
}

@media (max-width: 868px) {
    .thevilla-s0 {
        .img-container {
            height: 60%;
            /* Adjust image height for smaller screens */
        }

        .title-container {
            width: 95%;
            padding: 1rem;
            bottom: -45px;
            border-radius: 0.2rem 4rem;
            /* Move closer to avoid overlap */
        }

        .subcontent {
            width: 95%;
            padding-top: 7rem;
            /* Add more space for smaller screens */
            margin: 2rem auto;
        }

        .title {
            font-size: var(--h1-font-size) !important;
            /* Reduce font size for responsiveness */
        }
    }

}

@media (max-width: 480px) {
    .thevilla-s0 {
        .title-container {
            width: 95%;
            bottom: -30px;
            padding: 0.8rem;
            border-radius: 0.2rem 5rem;
        }

        .subcontent {
            max-width: 90%;
            padding-top: 8rem;
            margin: 1.5rem auto;
        }

        .title {
            font-size: var(--h2-font-size) !important;
        }
    }

}