/* Import the fonts */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tangerine';
  src: url('/fonts/Tangerine-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Color Palette */
  --header-text-color-dark: #484039;
  --header-text-color-light: #ffffff;
  --text-color-dark: #6E5F53;
  --text-color-light: #ffffff;
  --palette-1: #F3F4F4;
  --palette-2: #D6CFC6;
  --palette-3: #D7C8BA;
  --palette-4: #A59E96;
  --palette-5: #6E5F53;
  --palette-6: #E9E2D9;

  /* Font Styles */
  --header-font-family: 'Tangerine', cursive;
  --text-font-family: 'Poppins', sans-serif;

   /* Responsive Font Sizes adjusts with viewport */
   --h1-font-size: clamp(3rem, 2vw + 1rem, 4rem);
   --h2-font-size: clamp(2rem, 2vw + 1rem, 3rem);
   --h3-font-size: clamp(1rem, 2vw + 1rem, 2rem);
   --text-font-size: clamp(0.5rem, 1.5vw + 0.5rem, 0.9rem);

  /* Global Spacing */
  --global-padding-horizontal: 1rem;
  --navbar-padding-vertical: 0.5rem;
}
  
/* Header Dark Text Style */
.header-text-dark {
  color: var(--header-text-color-dark) !important;
  font-family: var(--header-font-family);
}

/* Header Light Text Style */
.header-text-light {
  color: var(--header-text-color-light) !important;
  font-family: var(--header-font-family);
}

/* Normal Text Dark Style */
.body-text-dark {
  color: var(--text-color-dark) !important;
  font-family: var(--text-font-family);
}

  /* Normal Text Light Style */
.body-text-light {
  color: var(--text-color-light) !important;
  font-family: var(--text-font-family);
}