.info-s1 {
    display: flex;
    --bs-gutter-x: 0 !important;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    background-color: #FEFEF6;
    background-image: url('../../assets/images/thevilla/section0.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;

    .body {
        margin-top: 5rem;
        margin-left: 5rem;
        background: rgba(214, 207, 198, 0.664);
        backdrop-filter: blur(2px);
        padding: 2rem 2rem 1rem 2rem;
        z-index: 2;
        width: fit-content;
        /* Shrink to fit content */
        max-width: 100%;
        /* Prevent overflow */
    }

    .content {
        display: flex;
        align-items: baseline;
    }

    .icon {
        margin-right: 0.5rem;
    }

    .body-text-dark {
        font-weight: 600;
        color: var(--header-text-color-dark);
    }

    @media (max-width: 768px) {
        .body {
            margin-left: auto;
            margin-right: auto;
        }
    }
}