.contact-s3 {
    display: flex;
    --bs-gutter-x: 0 !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: var(--palette-7);
    margin: 4rem 0rem;

    .title {
        background-color: var(--palette-2);
        padding: 2rem 10rem;
        margin-bottom: 2rem;
        text-align: center;
        justify-content: center;

        .header-text-dark {
            font-size: var(--h0-font-size);
        }

        .divider-image {
            margin: 0 2rem;
            width: 8rem;
            height: auto;
        }
    }

    .bookings {
        .col-container {
            padding: 2rem;
        }

        .image-container {
            text-align: center;
            padding: 3rem 4rem;
            border: 0.15rem solid var(--palette-5);
            border-radius: 1rem;

            .image {
                width: 5rem;
            }

            .image-link {
                text-decoration: none;

                .body-text-dark {
                    padding-top: 2rem;
                }
            }

        }

        .image-container:hover {
            background-color: var(--palette-6);
            transition: all 0.5s ease-out;
        }


    }

}

/* Small screens */
@media (max-width: 768px) {
    .contact-s3 {

        .title {
            padding: 2rem 3rem;
        }

        .bookings {
            .col-container {
                padding: 2rem 10rem;
            }
        }
    }
}
/* Extra small screens */
@media (max-width: 480px) {
    .contact-s3 {

        .title {
            padding: 2rem 3rem;
        }

        .bookings {
            .col-container {
                padding: 2rem 5rem;
            }
        }
    }
}