/* src/components/Section0.css */

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.video-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 80px;
    /* Adjust size as needed */
    height: auto;
}